h2{
font-family:'Arial';
font-size:22px !important;
padding-bottom:1px;
margin:100px;
margin-bottom:100px;
}

p {
font-size: 18px;
margin:100px;
margin-bottom:0px;
margin-top:100px;
}

.aumenteTopMarginText p:first-of-type {
  margin-top: 250px
}

/* Ajustar a distância entre o título da seção e o topo */
section h1 {
  margin-top: 1000px; /* Ajusta a distância do topo, mude o valor conforme necessário */
}

h2 {
  margin-top: 100px;  /* Ajuste a altura conforme necessário */
}

/* Ajustar a distância entre o título da seção e o topo */
section h2 {
  margin-top: 1000px; /* Ajusta a distância do topo, mude o valor conforme necessário */
}

/* Ajustar a distância entre o título da seção e o topo */
section h3 {
  margin-top: 1000px; /* Ajusta a distância do topo, mude o valor conforme necessário */
}

/* Ajuste global da margem do conteúdo */
body {
  padding-top: 50px; /* Aumenta o espaço entre o topo do slide e o conteúdo geral */
}